
@page "/CotaAreaVolume/Visualizar"
@page "/CotaAreaVolume/Visualizar/{id}"

@inject CotaAreaVolumeService CotaAreaVolumeService
@inject NavigationManager NavigationManager
@inject Microsoft.JSInterop.IJSRuntime JSRuntime;
@using Model

@using BlazorTable
@using SGSB.Web.Data


<h3>Visualizar</h3>


<EditForm Model="@CotaAreaVolumeModel" >
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">

        <div class="form-group">
            <label for="Cota" class="control-label">Cota </label>
            <InputText @bind-Value="@CotaAreaVolumeModel.Cota" type="Text" class="form-control" />
            <ValidationMessage For="@(()=> CotaAreaVolumeModel.Cota)" />



            <label for="VolumeAcumulado" class="control-label">Volume Acumulado </label>
            <InputText @bind-Value="@CotaAreaVolumeModel.VolumeAcumulado" type="Text" class="form-control" />
            <ValidationMessage For="@(()=> CotaAreaVolumeModel.VolumeAcumulado)" />





            <label for="AreaSuperficial" class="control-label">Área Superficial </label>
            <InputText @bind-Value="@CotaAreaVolumeModel.AreaSuperficial" type="Text" class="form-control" />
            <ValidationMessage For="@(()=> CotaAreaVolumeModel.AreaSuperficial)" />

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
       
                <input type="button" class="btn" @onclick="@Cancel" value="Voltar" />
            </div>
        </div>
    </div>
</EditForm>

@code {
    private CotaAreaVolume CotaAreaVolumeModel = new CotaAreaVolume();

    [Parameter]
    public string Id { get; set; }
    protected override async Task OnInitializedAsync()
    {


       await Ver(Id);
    }

    private async Task ChangeHandler(ChangeEventArgs args)
    {

    }

    public async Task Ver(string Id)
    {
        CotaAreaVolumeModel =  await CotaAreaVolumeService.GetCotaAreaVolumeId(int.Parse(Id));
    }



  
    void Cancel()
    {
        NavigationManager.NavigateTo("CotaAreaVolume/index");
    }


}
