@page "/UsoBarragem/Index"

@using SGSB.Web.Data
@inject UsoBarragemService UsoBarragemService
@using Model 
@inject NavigationManager NavigationManager
@inject HttpClient http
@using BlazorTable
@using SGSB.Web.Models;

@inject Microsoft.JSInterop.IJSRuntime JSRuntime

@if (UsoBarragem == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <div class="col-md-3">
        <a href="UsoBarragem/cadastro" class="btn btn-success h2">Adicionar Novo </a>
    </div>

    <Table style="font-size:14px;" TableItem="UsoBarragem" Items="UsoBarragem" PageSize="10">
        <Column TableItem="UsoBarragem" Title="ID" Field="@(x => x.Id)" Sortable="true" Filterable="true" Width="10%" />
        <Column TableItem="UsoBarragem" Title="Nome" Field="@(x => x.Nome)" Sortable="true" Filterable="true" Width="30%" />


        <Column TableItem="UsoBarragem" Title="Visualizar" Field="@(x => x.Id)" Sortable="true" Filterable="true" Width="10%">
            <Template>

                <a href="UsoBarragem/Visualizar/@context.Id" class="btn btn-info h4"> Visualizar</a>
            </Template>
        </Column>
        <Column TableItem="UsoBarragem" Title="Editar" Field="@(x => x.Id)" Sortable="true" Filterable="true" Width="10%">
            <Template>

                <a TableItem="UsoBarragem" href="UsoBarragem/Editar/@context.Id" class="btn btn-warning h4"> Editar</a>
            </Template>
        </Column>
        <Column TableItem="UsoBarragem" Title="Excluir" Field="@(x => x.Id)" Sortable="true" Filterable="true" Width="10%">
            <Template>

                <a href="../UsoBarragem/Excluir/@context.Id" class="btn btn-danger h4"> Excluir</a>
            </Template>
        </Column>

        <Pager ShowPageNumber="true" ShowTotalCount="true" />
    </Table>

}

@code {

    private List<UsoBarragem> UsoBarragem;
    //private UsoBarragem UsoBarragemModel = new UsoBarragem();
    protected override async Task OnInitializedAsync()
    {
        UsoBarragem = await UsoBarragemService.GetUsoBarragem();
 
    }


    private UsoBarragemModel objUsoBarragemModel = new UsoBarragemModel();


    private async Task ChangeHandler(ChangeEventArgs args)
    {

    }

    protected async Task Editar(int id)
    {
       await UsoBarragemService.EditarUsoBarragem(objUsoBarragemModel);

    }
    protected async Task Visualizar(int id)
    {
        var tipoEmpreendedor = new UsoBarragemModel()
            {
                Nome = objUsoBarragemModel.Nome


            };
        await UsoBarragemService.CadastrarUsoBarragem(tipoEmpreendedor);
      
    }

    protected async Task CreateUsoBarragem()
    {
        var tipoEmpreendedor = new UsoBarragemModel()
            {
                Nome = objUsoBarragemModel.Nome


            };
        await UsoBarragemService.CadastrarUsoBarragem(tipoEmpreendedor);
      

        StateHasChanged();


    }
    void Cancel()
    {
        NavigationManager.NavigateTo("UsoBarragem/index");
    }

}
