@page "/TipoEstruturaBarragem/Editar"
@page "/TipoEstruturaBarragem/Editar/{id}"

@inject TipoEstruturaBarragemService TipoEstruturaBarragemService
@inject NavigationManager NavigationManager
@inject Microsoft.JSInterop.IJSRuntime JSRuntime;
@using Model;

@using BlazorTable
@using SGSB.Web.Data


<h3>Editar</h3>

@TipoEstruturaBarragemModel.Nome
<EditForm Model="@TipoEstruturaBarragemModel" OnSubmit="EditarTipoEstrutura">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">

        <div class="col-md-8">
            <div class="form-group">
                <label for="nome" class="control-label">Nome da Tipo de Material de Barragem</label>
                <InputText @bind-Value="@TipoEstruturaBarragemModel.Nome" type="Text" class="form-control" />
                <ValidationMessage For="@(()=> TipoEstruturaBarragemModel.Nome)" />
            </div>




        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Editar" />
                <input type="button" class="btn" @onclick="@Cancel" value="Cancelar" />
            </div>
        </div>
    </div>
</EditForm>

@code {
    private TipoEstruturaBarragem TipoEstruturaBarragemModel = new TipoEstruturaBarragem();

    [Parameter]
    public string Id { get; set; }
    protected override async Task OnInitializedAsync()
    {


       await Edit(Id);
    }

    private async Task ChangeHandler(ChangeEventArgs args)
    {
        

    }

    

    public async Task Edit(string Id)
    {
        TipoEstruturaBarragemModel = await  TipoEstruturaBarragemService.GetTipoEstruturaBarragemId(int.Parse(Id));
        
    }

    protected async Task EditarTipoEstrutura()
    {

        await TipoEstruturaBarragemService.EditarTipoEstruturaBarragem(TipoEstruturaBarragemModel);
        NavigationManager.NavigateTo("TipoEstruturaBarragem/index");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("TipoEstruturaBarragem");
    }


}
